.header {
    overflow: hidden;
    background-color: #cf974b;
    font-family: 'Anton', sans-serif;
  }
  
  .header a {
    float: left;
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
  }

  .logoarr {
    width: 130px;
    height: auto;
    margin-left: 15px;
}
  
  .header a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .header a.active {
    background-color: #53b5aa;
    color: white;
  }
  
  .header-right {
    display: flex;
    float: right;
    padding-top: 20px;
  }

.container-1 {
    display: flex;
    width: 300px;
    position: relative;
    padding-left: 350px;
    padding-right: 50px;
}

.lupa {
    width: 20px;
    height: auto;
    position: absolute;
    top: 50%;
    margin-left: 17px;
    margin-top: -11px;
}

.container-1 input#search:hover,
.container-1 input#search:focus,
.container-1 input#search:active {
    outline: none;
    background: #f4e6cc;
}

.container-1 input#search {
    width: 300px;
    height: 50px;
    background: #ffffff;
    border: none;
    font-size: 10pt;
    float: left;
    color: #000000;
    padding-left: 45px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;


    -webkit-transition: background .55s ease;
    -moz-transition: background .55s ease;
    -ms-transition: background .55s ease;
    -o-transition: background .55s ease;
    transition: background .55s ease;
}
  
  @media screen and (max-width: 1100px) {
    .header .logoarr{
      align-content: center;
    }

    .header a {
      float: none;
      display: flex;
      text-align: left;
    }

    .container-1{
      float: none;
      padding-left: 20px;
      padding-bottom: 20px;
      padding-top: 20px;
    }

    .header-right {
      float: none;
      flex-direction: column;
    }
  }